# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/

# Environment variables
.env

# Google認証情報
google-credentials.json

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
